docs/regulator/dk/view/PokerTurneringSlutStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r7165</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/SpilFil.xsd"/>
         <xs:include schemaLocation="../class/SpilCertifikat.xsd"/>
         <xs:include schemaLocation="../class/SpilKategori.xsd"/>
         <xs:include schemaLocation="../class/SpilProdukt.xsd"/>
         <xs:include schemaLocation="../class/Poker.xsd"/>
         <xs:include schemaLocation="../class/ValutaOplysning.xsd"/>
         <xs:include schemaLocation="../class/TilfaeldighedGenerator.xsd"/>
         <xs:include schemaLocation="../class/SpillerInformation.xsd"/>
         <xs:include schemaLocation="../class/Spil.xsd"/>
         <xs:element name="PokerTurneringSlutStruktur" type="fase2.1:PokerTurneringSlutStrukturType"/>
         <xs:complexType name="PokerTurneringSlutStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="PokerTurneringSlutStruktur">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="FilInformation">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:SpilFilVersion"/>
                  
                                 <xs:element ref="fase2.1:SpilFilIdentifikation"/>

                                 <xs:element ref="fase2.1:SpilFilErstatningIdentifikation" minOccurs="0"/>


                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="TilladelsesindehaverOgSpil">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:SpilCertifikatIdentifikation"/>
                  
                                 <xs:element ref="fase2.1:SpilKategoriNavn"/>
                  
                                 <xs:element ref="fase2.1:SpilProduktNavn"/>
                  
                                 <xs:element ref="fase2.1:SpilProduktIdentifikation"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="TurneringsSlutInfo">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:SpilProduktFaktiskSlutDatoTid"/>
                  
                                 <xs:element ref="fase2.1:PokerAntalSpillereTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PokerAntalSpillereTotal"/>
                  
                                 <xs:element ref="fase2.1:PokerAntalSpillereKval"/>
                  
                                 <xs:element ref="fase2.1:PokerBuyInTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PokerBuyInTotal"/>
                  
                                 <xs:element ref="fase2.1:PokerFeeTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PokerFeeTotal"/>
                  
                                 <xs:element ref="fase2.1:PokerRebuyTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PokerRebuyTotal"/>
                  
                                 <xs:element ref="fase2.1:PokerAddonTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PokerAddonTotal"/>
                  
                                 <xs:element ref="fase2.1:PokerBuyinAntalTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PokerBuyinAntalTotal"/>
                  
                                 <xs:element ref="fase2.1:PokerRebuyAntalTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PokerRebuyAntalTotal"/>
                  
                                 <xs:element ref="fase2.1:PokerAddonAntalTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PokerAddonAntalTotal"/>
                  
                                 <xs:element ref="fase2.1:PokerTilføjetPrizepool"/>
                  
                                 <xs:element ref="fase2.1:PokerGevinstTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PokerGevinstTotal"/>
                  
                                 <xs:element ref="fase2.1:ValutaOplysningKode"/>
                                 <xs:element name="TilfældighedGeneratorListe">
                                    <xs:complexType>
                                       <xs:sequence>

                                          <xs:element name="TilfældighedGenerator" minOccurs="1" maxOccurs="unbounded">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:TilfældighedGeneratorIdentifikation"/>
                  
                                                   <xs:element ref="fase2.1:TilfældighedGeneratorSoftwareId"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>

                                 <xs:element name="VinderListe" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element name="Vinder" minOccurs="0" maxOccurs="unbounded">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:SpillerInformationIdentifikation"/>
                                                   <xs:element ref="fase2.1:SpilTransaktionIdentifikation"/>
                                                   <xs:element ref="fase2.1:SpilGevinstSpil"/>
                                                   <xs:element ref="fase2.1:SpilGevinstJackpot"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>

                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
