docs/regulator/fr/referentiel/xsd/CJ.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="./include/CJCommon.xsd"/>
  <xs:element name="OUVINFOPERSO">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
	<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="1" ref="Login"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="Pseudo"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="Nom"/>
        <xs:element maxOccurs="2" minOccurs="1" ref="Prenom"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="Civilite"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateN"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="VilleN"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DptN"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="PaysN"/>
        <xs:element maxOccurs="8" minOccurs="0" ref="Ad"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="CP"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Ville"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Pays"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="TelFixe"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="TelMob"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="Email"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Test"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PREFCPTE">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="0" ref="Compte"/>
        <xs:element maxOccurs="5" minOccurs="0" ref="MiseMax"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="DepotMax"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="TempsMax"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateDebut"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CPTEIDENTITE">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
		<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="1" type="NatureVerification" name="NatureVerification"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CPTEADRESSE">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
		<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MODIFINFOPERSO">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
	<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="1" ref="Login"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="Pseudo"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="Nom"/>
        <xs:element maxOccurs="2" minOccurs="1" ref="Prenom"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="Civilite"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateN"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="VilleN"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DptN"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="PaysN"/>
        <xs:element maxOccurs="8" minOccurs="0" ref="Ad"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="CP"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Ville"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Pays"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="TelFixe"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="TelMob"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="Email"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Test"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OKCONDGENE">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OUVOKCONFIRME">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
		<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACCESREFUSE">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
	<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="0" ref="CauseRefus"/>
        <xs:element maxOccurs="1" minOccurs="1" name="TypeRefus">
          <xs:simpleType>
            <xs:restriction base="string-1024">
              <xs:enumeration value="DelaiIdentite"/>
              <xs:enumeration value="RejetIdentite"/>
              <xs:enumeration value="Interdit"/>
              <xs:enumeration value="AutoInterdit"/>
              <xs:enumeration value="OpVerrouille"/>
              <xs:enumeration value="Verrouille"/>
              <xs:enumeration value="Cloture"/>
              <xs:enumeration value="Autre"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AUTOINTERDICTION">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
		<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="1" ref="DateModif"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="Duree"/>
        <xs:element maxOccurs="1" minOccurs="1" name="Unite">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="J"/>
              <xs:enumeration value="S"/>
              <xs:enumeration value="M"/>
              <xs:enumeration value="A"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateFin"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLOTUREDEM">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
	<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="1" ref="SoldeClos"/>
        <xs:element maxOccurs="1" minOccurs="1" name="TypeCloture">
          <xs:simpleType>
            <xs:restriction base="string-64">
              <xs:enumeration value="Joueur"/>
              <xs:enumeration value="DelaisIdentite"/>
              <xs:enumeration value="DelaisAdresse"/>
              <xs:enumeration value="Inactivite"/>
              <xs:enumeration value="Interdits"/>
              <xs:enumeration value="Autre"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CPTEALIM">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
		<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDRef"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="DateDemande"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="DateEffective"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="SoldeAvant"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="SoldeMouvement"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="SoldeApres"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="MoyenPaiement"/>
        <xs:element maxOccurs="1" minOccurs="1" name="TypeMoyenPaiement">
          <xs:simpleType>
            <xs:restriction base="string-32">
              <xs:enumeration value="CarteBancaire"/>
              <xs:enumeration value="Virement"/>
              <xs:enumeration value="Intermediaire"/>
              <xs:enumeration value="MonnaieElectronique"/>
	      <xs:enumeration value="Espece"/>
              <xs:enumeration value="Cheque"/>
              <xs:enumeration value="RecepisseGagnant"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CPTERETRAIT">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
		<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDRef"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateDemande"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="SoldeDemande"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="SoldeAvant"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="SoldeMouvement"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="SoldeApres"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CPTEABOND">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
		<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDRef"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="SoldeAvant"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="MontAbond"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="SoldeApres"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="Info"/>
        <xs:element maxOccurs="1" minOccurs="1" name="TypeAbondement">
          <xs:simpleType>
            <xs:restriction base="string-32">
              <xs:enumeration value="Ouverture"/>
              <xs:enumeration value="RakeBack"/>
              <xs:enumeration value="HautFait"/>
              <xs:enumeration value="Code"/>
              <xs:enumeration value="Offre"/>
              <xs:enumeration value="Points"/>
              <xs:enumeration value="Autre"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" ref="Unite"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CPTEAJUSTOPE">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
                <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
		<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDRef"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="Info"/>
        <xs:element maxOccurs="1" minOccurs="1" name="TypeAjust">
          <xs:simpleType>
            <xs:restriction base="string-32">
              <xs:enumeration value="Alimentation"/>
              <xs:enumeration value="Retrait"/>
              <xs:enumeration value="Gain"/>
              <xs:enumeration value="Abondement"/>
              <xs:enumeration value="Bonus"/>
              <xs:enumeration value="Lot"/>
              <xs:enumeration value="Frais"/>
              <xs:enumeration value="Etat"/>
              <xs:enumeration value="Autre"/>              
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:sequence maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="1" minOccurs="1" ref="SoldeAvant"/>
          <xs:element maxOccurs="1" minOccurs="1" ref="Ajustement"/>
          <xs:element maxOccurs="1" minOccurs="1" ref="SoldeApres"/>
        </xs:sequence>
        <xs:sequence maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="1" minOccurs="1" ref="BonusAvant"/>
          <xs:element maxOccurs="1" minOccurs="1" ref="BonusAjust"/>
          <xs:element maxOccurs="1" minOccurs="1" ref="BonusApres"/>
        </xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="Unite"/>        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CPTEALIMOPE">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
		<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDRef"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="BonusAvant"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="BonusMouvement"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="BonusApres"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="BonusNom"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Unite"/>        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LOTNATURE">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
		<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDRef"/>
        <xs:element maxOccurs="64" minOccurs="1" ref="LotN"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CPTEREF">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
		<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="1" ref="PspCib"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="PspLib"/>
        <xs:choice maxOccurs="1" minOccurs="1">
          <xs:element maxOccurs="1" minOccurs="0" ref="PspCpteRef"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="PspIban"/>
        </xs:choice>
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LIMITMISE">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
		<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="1" ref="DateDebut"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateFin"/>
		<xs:element maxOccurs="1" minOccurs="1" ref="Nature"/>
		<xs:element maxOccurs="1" minOccurs="1" ref="Motif"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACHATMONNAIE">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
	<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDRef"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="SoldeAvant"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="MontantAchat"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="SoldeApres"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="MonnaieAvant"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="MontantMonnaie"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="MonnaieApres"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="Unite"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
