docs/regulator/fr/referentiel/xsd/PASP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="./include/PACommon.xsd"/>
  <xs:element name="PASPMISE">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
	<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="1" ref="Tech"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="TechJeu"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Jackpot"/>
        <xs:element maxOccurs="64" minOccurs="1" ref="PaSp"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="SoldeAvantMise"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Mise"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="SoldeApresMise"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="MiseAbond"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="BonusAvantMise"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="BonusMise"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="BonusApresMise"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="BonusNom"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Tel"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Unite"/>        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PASPANNUL">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
	<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="1" ref="Tech"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateMise"/>
        <xs:element maxOccurs="1" minOccurs="1" name="Motif">
          <xs:simpleType>
            <xs:restriction base="string-32">             
              <xs:enumeration value="NonConforme"/>
              <xs:enumeration value="MSE"/>
              <xs:enumeration value="RencontreAnnulee"/>
              <xs:enumeration value="Resultat"/>
              <xs:enumeration value="Joueur"/>
              <xs:enumeration value="PariModifie"/>
              <xs:enumeration value="Autre"/>
            </xs:restriction>
          </xs:simpleType>  
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" ref="SoldeAvantRembours"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="MontantRembours"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="SoldeApresRembours"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="BonusAvant"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="BonusMouvement"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="BonusApres"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Tel"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Unite"/>        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PASPGAIN">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <!-- Entete -->
        <xs:element maxOccurs="1" minOccurs="1" ref="IDOper"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDEvt"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="HashJoueur"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDSession"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="IPJoueur"/>
	<xs:element maxOccurs="1" minOccurs="0" ref="IDPointDeVente"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="IDCoffre"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Supervision"/>
        <!-- Corps -->
        <xs:element maxOccurs="1" minOccurs="1" ref="Tech"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="DateMise"/>
	<xs:element maxOccurs="1" minOccurs="1" ref="DateHeure"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Cashout"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="SoldeAvantGain"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Gain"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="SoldeApresGain"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="GainAbond"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Info"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="BonusAvantGain"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="BonusMouvement"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="BonusApresGain"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="Unite"/>        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
