docs/regulator/dk/class/KasinoTraek.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Et træk i et kasinospil er det mindste mulige session.   Eksempel: For slot-maskiner svarer det til én kørsel. </xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/BeloebPositivNegativ10Decimaler10Type.xsd"/>
         <xs:element name="KasinoTrækIndskudSpil"
                     type="fase2.1:BeløbPositivNegativ10Decimaler10Type">
               
               <xs:annotation>
                  <xs:documentation>Indskud som går til spillet i et enkelt træk. Beløbet skal være eksklusiv eventuelt jackpot bidrag.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KasinoTrækIndskudJackpot"
                     type="fase2.1:BeløbPositivNegativ10Decimaler10Type">
               
               <xs:annotation>
                  <xs:documentation>Indskud som går til jackpot i et enkelt træk.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KasinoTrækGevinstSpil"
                     type="fase2.1:BeløbPositivNegativ10Decimaler10Type">
               
               <xs:annotation>
                  <xs:documentation>Gevinst fra kasinospillet (ikke jackpot) fra trækket (inkl. indskud).</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KasinoTrækKommission" type="fase2.1:BeløbPositivNegativ10Decimaler10Type">
               
               <xs:annotation>
                  <xs:documentation>Den kommission som tilladelsesindehaver har taget i forbindelse med trækket.  Denne attribut skal kun indeholde kommission, og er ikke indskud minus gevinst. Kun hvis der indkræves en specifik kommission fra indskuddet, skal dette rapporteres. Kommission kunne f.eks. være ved peer-to-peer spil, hvor to spillere spiller mod hinanden og tilladelsesindehaver tager en kommission for spillet. Værdien af denne attribut kan ikke være negativ.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
