docs/regulator/dk/class/Land.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Indeholder oplysninger som identificerer et land.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/AdresseLandKodeType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/LandeNummerKodeType.xsd"/>
         <xs:include schemaLocation="../types/LandeKodeType.xsd"/>
         <xs:element name="LandKode" type="fase2.1:AdresseLandKodeType">
               <xs:annotation>
                  <xs:documentation>
                     Landekode
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="LandNavn" type="fase2.1:TekstKortType">

               <xs:annotation>
                  <xs:documentation>Navnet på landet</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="LandNummerKode" type="fase2.1:LandeNummerKodeType">

               <xs:annotation>
                  <xs:documentation>Landenummerkode</xs:documentation>
               </xs:annotation>
            </xs:element>

         <xs:element name="Landekode" type="fase2.1:LandekodeType">
            <xs:annotation>
               <xs:documentation>
                  Landekode fra ISO, IOC, FIFA eller SPM.
                  De tilladte værdier er udvalgt af spillemyndigheden og benyttes i forbindelse med begivenhedsrapportering.
                  For kampe i en turnering, anvendes turneringens land – således (Europas) Champions League er EUR uanset hvor kampen spilles.
                  For Golf på Europa-touren bruges EUR osv.
                  Tennis vil typisk være globalt, medmindre der fx er spil på en divisionskamp i et bestemt land.
               </xs:documentation>
            </xs:annotation>
         </xs:element>

      </xs:schema>
