docs/regulator/dk/class/PokerHaand.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/BeloebPositivNegativ10Decimaler10Type.xsd"/>
         <xs:element name="PokerHåndIndskudSpil" type="fase2.1:BeløbPositivNegativ10Decimaler10Type">
               
               <xs:annotation>
                  <xs:documentation>Indskuddet fra pokerhånden der går til selve spillet (ikke jackpot).</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="PokerHåndIndskudJackpot"
                     type="fase2.1:BeløbPositivNegativ10Decimaler10Type">
               
               <xs:annotation>
                  <xs:documentation>Del af rake der går til jackpot.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="PokerHåndGevinstSpil" type="fase2.1:BeløbPositivNegativ10Decimaler10Type">
               
               <xs:annotation>
                  <xs:documentation>Gevinst (inkl. indskud) fra pokerhånden der kommer fra selve spillet (ikke jackpot).</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="PokerHåndRake" type="fase2.1:BeløbPositivNegativ10Decimaler10Type">
               
               <xs:annotation>
                  <xs:documentation>Rake der er indkrævet fra pokerhånden, eksklusiv bidrag til jackpot.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
