docs/regulator/dk/class/SpilFil.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Information om en standard record på xml-fil niveau. </xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/Tekst300Type.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/SpilFilVersionType.xsd"/>
         <xs:element name="SpilFilIdentifikation" type="fase2.1:Tekst300Type">
               
               <xs:annotation>
                  <xs:documentation>Unik identifikation af xml-fil som tilladelsesindehaver lægger på SAFE. Tilladelsesindehaver skal sikre at identifikationen er unik f.eks. ved anvendelse af Universally Unique Identifier (UUID). </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SpilFilErstatningIdentifikation" type="fase2.1:Tekst300Type">
               
               <xs:annotation>
                  <xs:documentation>Anvendes hvis tilladelsesindehaver har lagt en fil med fejl på SAFE og skal lægge en ny fil på SAFE som erstatning. I feltet angives SpilFilIdentifikation på den fil som indeholdt fejl og dermed skal erstattes. </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SpilFilPlacering" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Angiver placering af den mappe på FTP serveren, filen med spildata er placeret i.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SpilFilVersion" type="fase2.1:SpilFilVersionType">
               
               <xs:annotation>
                  <xs:documentation>Angivelse af hvilken version af standard records der anvendes</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
