docs/regulator/pt/derived/pt-common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  =====================================================================
  DERIVED SCHEMA - NOT AN OFFICIAL SRIJ ARTEFACT
  =====================================================================
  This schema is DERIVED from Regulamento n.º 903-B/2015 (SRIJ, Diário
  da República, 2.ª série, n.º 250, 23-12-2015) for architectural and
  demonstration purposes only. The official, authoritative wire formats
  live in SRIJ's technical specifications ("Modelo de Dados de Jogo
  Online do SRIJ"), which accompany the regulation and evolve
  independently (secções 2.1.2, 2.2.2, 3.3, 9.9.2 of the regulation).

  Every element here is traceable to the regulation's text (Anexo 1
  embeds illustrative XSDs in the gazette). Where the gazette gives no
  usable type/format, a conservative type was chosen and is marked
  "INFERRED" or "NORMALISED" in the xs:documentation. Nothing has been
  added that the regulation does not mention.

  This file: shared file-envelope elements and simple types common to
  the six Safe reporting categories (RESF_, JGDR_, SESS_, AJOG_, TRAN_,
  EXCL_) of Anexo 1. Included (chameleon, no namespace) by each
  category schema, mirroring the gazette's un-namespaced schemas.
  =====================================================================
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified" elementFormDefault="qualified">

  <!-- ================= shared simple types ================= -->

  <xs:simpleType name="Datahora14">
    <xs:annotation>
      <xs:documentation>Datetime digit string "YYYYMMDDHH24MISS" as documented in the
      gazette field comments (Anexo 1, "Comentário aos Elementos/Atributos", e.g.
      data_hr, dathr_ini_evento). NORMALISED: the gazette XSD declares datahr as xs:int,
      which cannot hold 14 digits; a 14-digit string pattern is used instead.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{14}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TimestampFFTZ">
    <xs:annotation>
      <xs:documentation>Timestamp "YYYYMMDDHH24MISS.FF TZH:TZM" (fractional seconds and
      timezone offset, Oracle-style mask) as documented for timestp_reg, timestp_acao,
      timestp_ini/fim, timestp, timestp_op (Anexo 1 field comments). INFERRED pattern:
      the exact number of fractional digits is not stated in the regulation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{14}\.[0-9]+ [+\-][0-9]{2}:[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MontanteEUR">
    <xs:annotation>
      <xs:documentation>Monetary amount in euros ("em euros" per every monetary field
      comment in Anexo 1). NORMALISED: the gazette XSDs declare monetary elements as
      xs:string (except RESF_ totals, xs:decimal); xs:decimal is used throughout.
      The regulation does not state a decimal-places rule.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>

  <xs:simpleType name="SN">
    <xs:annotation>
      <xs:documentation>Boolean flag "S" (sim/yes) / "N" (não/no), the convention used
      throughout Anexo 1 field comments (torneio, mutua, combi, multi, marca_jog,
      Confirmado).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="S"/>
      <xs:enumeration value="N"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============ shared file-envelope elements ============ -->
  <!-- Every category file root ("ficheiro") begins with these four
       elements (Anexo 1, all six category XSDs). -->

  <xs:element name="cod_entexpl" type="xs:byte">
    <xs:annotation>
      <xs:documentation>"Codigo externo da entidade exploradora ou operador de jogo
      online. NOT NULL" (Anexo 1 field comments). Type xs:byte as printed in the
      gazette XSDs.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="datahr" type="Datahora14">
    <xs:annotation>
      <xs:documentation>"Datahora de producao do ficheiro de dados XML.
      YYYYMMDDHH24MISS. NOT NULL" (Anexo 1 field comments; gazette element name is
      datahr, comment name data_hr). NORMALISED from the gazette's xs:int.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="id_ficheiro" type="xs:short">
    <xs:annotation>
      <xs:documentation>"Identificador do ficheiro XML proveniente da entidade
      exploradora de jogo online. NOT NULL" (Anexo 1 field comments). Type xs:short
      as printed in the gazette XSDs.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="cod_cofre" type="xs:string">
    <xs:annotation>
      <xs:documentation>"Codigo externo de cofre de dados do jogo online. NOT NULL"
      (Anexo 1 field comments) — the Safe / "GameVault code" used in file names
      (examples in Anexo 1 are 3 characters, e.g. "2AA").</xs:documentation>
    </xs:annotation>
  </xs:element>

</xs:schema>
