docs/regulator/pt/derived/srij-verificacao-identidade.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  DERIVED SCHEMA - NOT AN OFFICIAL SRIJ ARTEFACT.
  Derived from Regulamento n.º 903-B/2015, Anexo 1, "II. Serviço de
  verificação de identidade do jogador" - the XSD imported by the
  PedidoVerificacaoIdentidadeTP SOAP service WSDL, by which the
  operator validates a registering player's name, NIF and date of
  birth against public-entity databases mediated by SRIJ (secção
  5.2.1). For architectural and demonstration purposes only; the
  official artefact is SRIJ's SRJJogoOnlineVerificacaoIdentidade.xsd.
  Element and type names as printed in the gazette (typos such as
  "NOMEV ALIDO" in the gazette summary are PDF line-break artefacts of
  NomeValido etc.).
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:srjvid="http://www.turismodeportugal.pt/SRJSchema/VerificacaoIdentidade"
            targetNamespace="http://www.turismodeportugal.pt/SRJSchema/VerificacaoIdentidade"
            elementFormDefault="qualified">

  <xsd:element name="PedidoVerificacaoTP" type="srjvid:PedidoVerificacaoTPType">
    <xsd:annotation><xsd:documentation>Identity-verification request sent by the
    operator via SRIJ (Anexo 1): player name, NIF (tax/civil id number) and date of
    birth.</xsd:documentation></xsd:annotation>
  </xsd:element>

  <xsd:element name="RespostaVerificacaoTP" type="srjvid:RespostaVerificacaoTPType">
    <xsd:annotation><xsd:documentation>Verification response redirected by SRIJ to the
    operator's gaming technical system (Anexo 1): validity flags for name, NIF and
    date of birth, plus deceased indicator.</xsd:documentation></xsd:annotation>
  </xsd:element>

  <xsd:element name="PedidoVerificacao" type="srjvid:PedidoVerificacaoType">
    <xsd:annotation><xsd:documentation>Inner verification request (NIF only), as printed
    in the gazette XSD.</xsd:documentation></xsd:annotation>
  </xsd:element>

  <xsd:element name="RespostaVerificacao" type="srjvid:RespostaVerificacaoType">
    <xsd:annotation><xsd:documentation>Inner verification response, as printed in the
    gazette XSD.</xsd:documentation></xsd:annotation>
  </xsd:element>

  <xsd:complexType name="PedidoVerificacaoTPType">
    <xsd:sequence>
      <xsd:element name="Nome" type="xsd:string">
        <xsd:annotation><xsd:documentation>"Nome do jogador" (Anexo 1).</xsd:documentation></xsd:annotation>
      </xsd:element>
      <xsd:element name="Nif" type="xsd:int">
        <xsd:annotation><xsd:documentation>"Nº de identificação fiscal ou civil"
        (Anexo 1). Type xsd:int as printed in the gazette.</xsd:documentation></xsd:annotation>
      </xsd:element>
      <xsd:element name="DataNascimento" type="xsd:date">
        <xsd:annotation><xsd:documentation>"Data de nascimento do jogador" (Anexo 1).</xsd:documentation></xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PedidoVerificacaoType">
    <xsd:sequence>
      <xsd:element name="Nif" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RespostaVerificacaoTPType">
    <xsd:annotation><xsd:documentation>Answers the four questions listed in Anexo 1:
    is the date of birth valid for the NIF, is the full name valid, is the citizen
    deceased, does a citizen with that NIF exist.</xsd:documentation></xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Sucesso" type="xsd:boolean"/>
      <xsd:choice maxOccurs="1">
        <xsd:element name="NomeValido" type="srjvid:stringSN"/>
        <xsd:element name="NomeCompleto" type="xsd:string"/>
      </xsd:choice>
      <xsd:element name="NifValido" type="srjvid:stringSN" maxOccurs="1"/>
      <xsd:choice maxOccurs="1">
        <xsd:element name="DataNascimentoValida" type="srjvid:stringSN" minOccurs="1"/>
        <xsd:element name="MaiorDeIdade" type="srjvid:stringSN">
          <xsd:annotation><xsd:documentation>Of-age (18+) flag alternative to the exact
          date-of-birth validity, per the gazette XSD; the 18+ requirement is secção
          5.2.1 n.º 3.</xsd:documentation></xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element name="Falecido" type="srjvid:stringSN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="MensagemErro" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RespostaVerificacaoType">
    <xsd:sequence>
      <xsd:choice maxOccurs="1">
        <xsd:element name="NomeValido" type="srjvid:stringSN"/>
        <xsd:element name="NomeCompleto" type="xsd:string"/>
      </xsd:choice>
      <xsd:element name="NifValido" type="srjvid:stringSN" maxOccurs="1"/>
      <xsd:choice maxOccurs="1">
        <xsd:element name="DataNascimentoValida" type="srjvid:stringSN" minOccurs="1"/>
        <xsd:element name="MaiorDeIdade" type="srjvid:stringSN"/>
      </xsd:choice>
      <xsd:element name="Falecido" type="srjvid:stringSN" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="stringSN">
    <xsd:annotation><xsd:documentation>S/N flag as printed in the gazette XSD.</xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="S"/>
      <xsd:enumeration value="N"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
