docs/regulator/nl/include_v1.11.xsd

<?xml version="1.0"?>
<!--
    111111111111111111111111
    111111111100111111111111
    111111110011101011111111
    111110001110000001110111
    111000001110000001000111
    111110000000000010011111
    111111000000000110011111
    111100100000001110001111
    111110000010000111001111
    111100011111100001101111
    111001110000000000001111
    111111110001100000111111
    111110000001100110000111
    111101010111111000001111
    111111111111111010111111
    111111111111111111111111
-->
<!-- Version 1.11 Authorized for public release -->
<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- CUSTOM DATA TYPES -->
    <xs:simpleType name="dateTimeUTC">
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}Z"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ksaType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="wok_bet"/>
            <xs:enumeration value="wok_complaint"/>
            <xs:enumeration value="wok_game_session"/>
            <xs:enumeration value="wok_game"/>
            <xs:enumeration value="wok_intervention"/>
            <xs:enumeration value="wok_operator"/>
            <xs:enumeration value="wok_player_account_transaction"/>
            <xs:enumeration value="wok_player_flags"/>
            <xs:enumeration value="wok_player_limits"/>
            <xs:enumeration value="wok_player_profile"/>
            <xs:enumeration value="wwft_player_account_transaction"/>
            <xs:enumeration value="wok_net_deposit_threshold"/>					
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="timeWindow">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Day"/>
            <xs:enumeration value="Week"/>
            <xs:enumeration value="Month"/>
            <xs:enumeration value="Other"/>
            <!-- More values may be added in future versions. -->
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="monetaryAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UID">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z0-9]{8}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="stringShort">
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="stringMedium">
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="stringLong">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1024"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>