docs/regulator/nl/ksa_cancellation_v1.11.xsd

<?xml version="1.0"?>
<!--
    111111111111111111111111
    111111111100111111111111
    111111110011101011111111
    111110001110000001110111
    111000001110000001000111
    111110000000000010011111
    111111000000000110011111
    111100100000001110001111
    111110000010000111001111
    111100011111100001101111
    111001110000000000001111
    111111110001100000111111
    111110000001100110000111
    111101010111111000001111
    111111111111111010111111
    111111111111111111111111
-->
<!-- Version 1.11 Authorized for public release -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="include_v1.11.xsd"/>
  <xs:element name="Root">
  	<xs:complexType>
  		<xs:sequence>
		  	<xs:element maxOccurs="512" minOccurs="1" name="KSA_Cancellation_v1.11">
					<xs:complexType>
						<xs:sequence>
							<!-- general -->
                            <xs:element maxOccurs="1" minOccurs="1" name="Record_ID" type="UID"/>
                            <xs:element maxOccurs="1" minOccurs="1" name="Extraction_Date" type="dateTimeUTC"/>
                            <xs:element maxOccurs="1" minOccurs="1" name="Operator_ID" type="stringMedium"/>
                            <xs:element maxOccurs="1" minOccurs="1" name="Data_Safe_ID" type="stringMedium"/>
							<!-- records that this relates to -->
							<xs:element maxOccurs="1" minOccurs="1" name="KSA_Type" type="ksaType"/>
							<!-- below the record id of the entry that is being cancelled -->
					  		<xs:element maxOccurs="1" minOccurs="1" name="Cancelled_Record_ID" type="UID"/>
						</xs:sequence>
					</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
</xs:schema>