docs/regulator/nl/wok_player_limits_v1.11.xsd

<?xml version="1.0"?>
<!--
    111111111111111111111111
    111111111100111111111111
    111111110011101011111111
    111110001110000001110111
    111000001110000001000111
    111110000000000010011111
    111111000000000110011111
    111100100000001110001111
    111110000010000111001111
    111100011111100001101111
    111001110000000000001111
    111111110001100000111111
    111110000001100110000111
    111101010111111000001111
    111111111111111010111111
    111111111111111111111111
-->
<!-- Version 1.11 Authorized for public release -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="include_v1.11.xsd"/>
    <xs:element name="Root">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="512" minOccurs="1" name="WOK_Player_Limits_v1.11">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- general -->
                            <xs:element maxOccurs="1" minOccurs="1" name="Record_ID" type="UID"/>
                            <xs:element maxOccurs="1" minOccurs="1" name="Extraction_Date" type="dateTimeUTC"/>
                            <xs:element maxOccurs="1" minOccurs="1" name="Operator_ID" type="stringMedium"/>
                            <xs:element maxOccurs="1" minOccurs="1" name="Data_Safe_ID" type="stringMedium"/>
							<!-- if this is a replacement record: in Replaced_Record_ID, fill in the ID of the record it replaces -->
							<xs:element maxOccurs="1" minOccurs="0" name="Replaced_Record_ID" type="UID"/>
                            <!-- specific -->
                            <xs:element maxOccurs="1" minOccurs="1" name="Player_Profile_ID" type="stringMedium"/>
                            <xs:element name="Limit_Deposit" maxOccurs="unbounded" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Deposit_Request_Datetime" type="dateTimeUTC"/>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Deposit_Start_Datetime" type="dateTimeUTC"/>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Deposit_Amount" type="xs:int"/>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Deposit_Time_Window" type="timeWindow"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Limit_Participation" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Participation_Request_Datetime" type="dateTimeUTC"/>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Participation_Start_Datetime" type="dateTimeUTC"/>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Participation_Amount" type="xs:int"/>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Participation_Time_Window" type="timeWindow"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Limit_Login" maxOccurs="unbounded" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Login_Request_Datetime" type="dateTimeUTC"/>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Login_Start_Datetime" type="dateTimeUTC"/>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Login_Duration" type="xs:float"/>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Login_Time_Window" type="timeWindow"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Limit_Game_Type" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Game_Type_Request_Datetime" type="dateTimeUTC"/>
                                        <xs:element maxOccurs="1" minOccurs="0" name="Game_Type_Start_Datetime" type="dateTimeUTC"/>
                                        <xs:element maxOccurs="1" minOccurs="0" name="Game_Type_End_Datetime" type="dateTimeUTC"/>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Game_Type_Type" type="stringMedium"/>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Game_Type_Time_Window" type="timeWindow"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Limit_Balance" maxOccurs="unbounded" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Balance_Request_Datetime" type="dateTimeUTC"/>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Balance_Start_Datetime" type="dateTimeUTC"/>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Balance_Amount" type="xs:int"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>